.cards {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  padding: var(--container-main-padding);
  width: 90%;
  display: grid;
  grid-template-columns: var(--grid-template-columns);
  place-items: center;
  gap: var(--gap);
  background-color: var(--container-bg-color);
  border: var(--border);
  border-radius: var(--border-radius);
}
